extends layout

block content
  include author_image
  each article in articles
    article.front-article
      .row
        .two.columns.author-image
          +authorImage(article, 100, 'no-mobile')  
        .ten.columns
          h3
            strong
              a(href=article.url)= article.title
          section.content
            p
              | #{article.metadata.blurb}
              span.more
                a(href=article.url)  Read more...
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Next page »
